In [ ]:
Question 22

+---------------+---------+ | Column Name | Type | +---------------+---------+ | id | int | | recordDate | date | | temperature | int | +---------------+---------+

id is the column with unique values for this table. This table contains information about the temperature on a certain day.

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

Input: Weather table:

+----+------------+-------------+ | id | recordDate | temperature | +----+------------+-------------+ | 1 | 2015-01-01 | 10 | | 2 | 2015-01-02 | 25 | | 3 | 2015-01-03 | 20 | | 4 | 2015-01-04 | 30 | +----+------------+-------------+

Output: +----+ | id | +----+ | 2 | | 4 | +----+

Explanation: In 2015-01-02, the temperature was higher than the previous day (10 -> 25). In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

In [ ]:
ANSWER :

In [10]:
import sqlite3

conn = sqlite3.connect('midterm_practice.db')

get_database = conn.cursor()

create_table_query = '''
CREATE TABLE Weather_data (
    id INTEGER PRIMARY KEY,
    recordDate DATE,
    temperature INTEGER
);
'''

insert_queries = [
    "INSERT INTO Weather_data VALUES (1, '2015-01-01', 10);",
    "INSERT INTO Weather_data VALUES (2, '2015-01-02', 25);",
    "INSERT INTO Weather_data VALUES (3, '2015-01-03', 20);",
    "INSERT INTO Weather_data VALUES (4, '2015-01-04', 30);"
]

select_query = '''
SELECT t1.id
FROM Weather_data t1
JOIN Weather_data t2 ON t1.id = t2.id + 1
WHERE t1.temperature > t2.temperature;
'''

get_database.executescript(create_table_query)
for insert_query in insert_queries:
    get_database.execute(insert_query)

get_database.execute(select_query)
get_results = get_database.fetchall()

for row in get_results:
    print(row)

conn.commit()
conn.close()

(2,)
(4,)